/* src/app.css */

/* Reset some default styles for the container */
body, html {
  margin: 0;
  padding: 0;
  /* Prevent reloading by pulling from the top */
  overscroll-behavior-y: contain;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the container's minimum height to fill the viewport */
  z-index: 1;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to top left, var(--gradient-color-1), var(--gradient-color-2));
  z-index: -1; /* Place the background gradient behind the content */
}
  
.frosted-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5); /* Frosted glass background */
  z-index: -1;
}

.content {
  flex: 1; /* This ensures that the main content takes up the remaining vertical space */
  /* Add your styles for the main content here */
}

.generation-card {
  /* Align content to center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 64%;
  padding: 20px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(20, 20, 20, 0.32);
}

.generation-card h2 {
  font-size: 25px;
  font-weight: 700;
  /* Use gradient for text color */
  background: linear-gradient(to right, #80b8ef, #bb63bb);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.generation-request {
  /* Modern styling for input */
  width: 78%;
  padding: 10px;
  border-radius: 5px;
  border: solid;
  border-color: #8a6bc1;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(150, 150, 150, 0.25);
  color: white;
  margin-bottom: 10%;
}

.error {
  color: pink;
  text-align: center;
  font-size: 12px;
  margin-top: -18px;
  width: 78%;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.generation-button{
  /* Button with gradient and modern styling */
  background: linear-gradient(to right, #80b8ef, #bb638d);
  padding: 14px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Put button at the bottom */
  position: absolute;
  bottom: 5%;
}

.generation-button .spinner{
  /* Animate the spinner */
  animation: spin 2s linear infinite;
  margin-left: 2px;
  margin-bottom: -1px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.generation-button:active{
  /* Button with gradient and modern styling */
  background: linear-gradient(to right, #344b62, #703c55);
  color: rgb(200, 200, 200);
  text-shadow: none;
}

.cover-art-container {
  /* Disable select */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px); /* Adjust the height as needed to center the cover art */
  overflow: hidden;
}

.cover-art-image {
  width: 72vw;
  height: 72vw;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow to the cover art */
  border-radius: 2.5%;
  margin-left: calc(50% - 36vw); /* Adjust the value based on your image width */
}

.song-info {
  text-align: center;
  margin-top: 10px; /* Add spacing between cover art and song info */
  position: relative; /* Add position relative to create a reference for absolute positioning */
  min-width: 72vw;
}

.artist {
  font-size: 16px;
  font-weight: 400;
  color: rgba(212, 212, 212, 0.92);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.song-title-marquee {
  position: relative;
  height: 30px;
  overflow: hidden;
}

.song-title {
  margin-top: -6px;
  font-size: 26px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.92);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.song-title.marquee{
  animation: marquee 10s linear infinite;
  animation-delay: -2.5s; /* Random Delay the animation start so that it begins on screen */
}

@keyframes marquee {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-110%);
  }
}

.player-card {
  padding-bottom: 32px;
  flex-shrink: 0; /* Prevent the card from shrinking to fit the content */
  background-color: rgba(20, 20, 20, 0.72); /* Darker background color */
  backdrop-filter: blur(20px); /* More blur for frosted glass look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  position: relative; /* Add position relative to the card */
  padding-top: 20px; /* Add some top padding to accommodate the progress bar */
  max-height: 25vh;
}

/* Updated styles for the progress bar */
.progress-bar-container {
  width: 80%;
  margin: auto;
  position: relative;
}

.progress-bar-hitbox {
  padding-bottom: 8px;
}

.timecodes {
  display: flex;
  justify-content: space-between;
  color: rgb(234, 234, 234);
  font-size: 10pt;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin-top: 8px;
  background: linear-gradient(to right, white 0%, white calc((100 * var(--progress)) / 100), gray calc((100 * var(--progress)) / 100), gray 100%);
  /* Move the slider thumb above the progress bar */
  position: relative;
  z-index: 1;
}

/* Add the thumb to the progress bar */
.progress-thumb {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white; /* Thumb color */
  border-radius: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2; /* Ensure the thumb is above the progress bar */
  pointer-events: none; /* Prevent the thumb from intercepting mouse events */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a drop shadow */
}

/* Custom styles for the play, pause, skip buttons, etc. */
/* ... (Add your custom styles for the buttons here) ... */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center the buttons both horizontally and vertically */
  margin-top: 20px;
  margin-bottom: 16px;
  flex-grow: 1; /* Allow the button container to grow and take up the remaining space */
  -webkit-tap-highlight-color: transparent; /* Remove the tap highlight on mobile devices */
}

.button-container button {
  width: 58px;
  height: 58px;
  margin: 0px 6px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

button#play-pause {
  width: 70px;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: transparent; /* Set the background color for the play/pause button */
  border: solid white 3.5px;
  color: white;
}

.button-container button svg {
  vertical-align: middle; /* Vertically center the icon within the button */
}

/* Apply a box-shadow to the buttons when pressed */
button#play-pause:active {
  background-color: rgba(208, 208, 208, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.button-container button:active {
  color: lightgray;
}
